<%= form_for [workout_group, workout] do |f| %>
<% if workout.errors.any? %>
   <div id="error_explanation">
    <h4>Error:</h4>
     <ul>
       <% workout.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :sets %>
    <%= f.number_field :sets %>
  </div>
  <div>
    <%= f.label :reps %>
    <%= f.number_field :reps %>
  </div>

  <%= f.hidden_field :workout_group_id %>

  <%= f.submit button_name %>
  <% end %>