<h3> Join a Workout Group </h3>


<%= form_for @user_group, url: user_groups_path do |f| %>
<%= f.hidden_field :user_id, :value=> current_user.id%>

<h4>Which Workout Group would you like to join?</h4>
<!--<%= f.label :workout_group %>-->
<%= f.collection_select :workout_group_id, WorkoutGroup.all, :id, :name, include_blank: "Select Workout Group", class:"browser-default" %>

<h4> What is your Mantra? <h4>
  <div>
    <%= f.label :mantra %>
    <%= f.text_field :mantra %>
  </div>


  <%= f.submit "Join Workout Group" %>
  <% end %>
