<h3> Create Workout Group </h3>

<%= form_for @workout_group do |f| %>  

 <%= render partial: "form", locals: {f: f, button_name: "Create Workout Group"} %>

  <h3> What is your mantra? </h3>
 
    <%= render partial: "fields_user", locals: {f: f, workout_group: @workout_group} %>


  <h3> Create some workouts for your group!</h3>
    <%= render partial: "fields_workout", locals: {workout_group: @workout_group, f: f} %>



  <%= f.submit "Create Workout Group" %>
  <% end %>